
BGDispatch/BGDispatch/bin/Debug/RagePluginHookSDK.dll
BGDispatch/BGDispatch/bin/Debug/RagePluginHookSDK.xml
BGDispatch/BGDispatch/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
BGDispatch/BGDispatch/bin/Debug/LSPD First Response.pdb
BGDispatch/BGDispatch/bin/Debug/LSPD First Response.dll
